<h1 class="p-3 mx-3">Stupidius Coachanimead Answer!</h1>
<div class="ask">
  <p><%= params[:question] %></p>
  <p><em>- You</em></p>
</div>
<div class="answer">
  <p><%= @response %></p>
  <p><em>- Coachus Maximus</em></p>
</div>
<a href="http://127.0.0.1:3000/" class="p-3 mx-3">Ask a new question</a>
