<div class="question">
  <h1>Stupidus Coachinum!</h1>
  <form action="/answer" data-turbo="false">
    <label for="question">Ask your coach anything:</label>
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn-primary">
  </form>
</div>
